<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <p class="pull-right">Total USD: {{satoshi total_balance}} ETH </p>  
               
         </div>
         <div class="col-md-12">
         
            <div class="card">

               <div class="content">
                  
                  <div class="material-datatables">
                     <table id="datatables_customer" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
                        <thead>
                           <tr>
                              <th>Date</th>
                              <th>Email</th>
                              <th>Balance</th>
                              <th>Level</th>
                              <th>Status</th>
                              <th class="disabled-sorting text-right">Actions</th>
                           </tr>
                        </thead>
                        <tbody>
                           {{#each users}} 
                           <tr>
                              <td>{{formatDate this.signupDate "MM/DD/YYYY LT"}} </td>
                            
                              <td>{{this.email}}</td>
                              
                              <td>{{satoshi this.balance}}</td>
                              <td>{{this.level}}</td>
                              <td class="text-right">
                                 {{#if_eq this.status '1'}}
                                 <span class="label label-success">Enlable</span>
                                 {{/if_eq}}
                                 {{#if_eq this.status '0'}}
                                 <span class="label label-danger">Disable</span>
                                 
                                 {{/if_eq}}
                              </td>
                              
                              <td class="text-right">
                                 <!-- <a href="#" class="btn btn-simple btn-info btn-icon like"><i class="ti-heart"></i></a> --> <a style="   " href="edit/customer/{{this._id}}" class="btn btn-simple btn-warning btn-icon edit"><span class="label label-info">Edit</span></a> <!-- <a href="#" class="btn btn-simple btn-danger btn-icon remove"><i class="ti-close"></i></a> --> 
                              </td>
                           </tr>
                           {{/each}} 
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>