<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="content">
                  <p class="pull-right">Total ETH: {{satoshi total_btc}} ETH</p>
                  <div class="clearfix"></div>
                  
                  <div class="material-datatables" style="width: 100%; overflow-x: scroll;">
                     <table id="datatables_deposit" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
                        <thead>
                           <tr>
                              <th>Username</th>
                              <th>Date</th>
                              <th>Amount ETH</th>
                              
                              <th>Wallet</th>
                              <th>Status</th>
                              <th>Txid</th>
                           </tr>
                        </thead>
                        <tbody>
                           {{#each history}} 
                           <tr>
                              <td>{{this.username}}</td>
                              <td>{{formatDate this.date "MM/DD/YYYY LT"}} </td>
                              <td >{{satoshi this.amount}}</td>
                              
                              <td>{{this.wallet}}</td>
                              <td>
                                 {{#if_eq this.status '1'}}
                                    <span class="label label-success">Success</span>
                                 {{/if_eq}}

                                 {{#if_eq this.status '0'}}
                                    <span class="label label-warning">{{this.confirm}} Confirm</span>
                                 {{/if_eq}} 
                              <td>{{this.txid}}</td>
                           </tr>
                           {{/each}} 
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>