<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <form method="post" action="/qwertyuiop/admin/updateUser" class="form-horizontal">
                  <div class="header card-header-text text-center">
                     <h4 class="title">Update User: <code> {{users.displayName}}</code></h4>
                  </div>
                  <div class="content">
                     <fieldset>
                        <div class="form-group text-center">
                           <p>Sponser: {{user_node}}</p>
                           <p>Balance {{satoshi users.balance}}</p>
                        </div>
                     </fieldset>
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">Email</label>
                           <div class="col-sm-10"> <input type="text" value="{{users.email}}" name="email" class="form-control"> </div>
                        </div>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">Balance</label>
                           <div class="col-sm-10"> <input type="text" value="{{satoshi users.balance}}" name="balance" class="form-control"> </div>
                        </div>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">Status</label>
                           <div class="col-sm-10"> 
                              <select class="form-control" name="status">
                                 {{#if_eq users.status '1'}}
                                 <option value="1" selected="selected">Enlable</option>
                                 <option  value="0">Disable</option>
                                 {{/if_eq}}
                                 {{#if_eq users.status '0'}}
                                 <option value="1">Enlable</option>
                                 <option value="0" selected="selected">Disable</option>
                                 {{/if_eq}}
                              </select>
                            </div>
                        </div>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">Password</label>
                           <input type="hidden" value="{{users._id}}" name="uid" class="form-control">
                           <div class="col-sm-10"> <input type="password" name="password" class="form-control"> </div>
                        </div>
                     </fieldset>
       
                     <fieldset>
                        <div class="text-center"> <button type="submit" class="btn btn-rose btn-fill btn-wd">Update</button> </div>
                     </fieldset>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="content" id="">
                  <h3 class="text-center">Add ETH</h3>
                  <p class="text-center">Min Widthdraw: {{satoshi users.min_widthdraw}} ETH</p>
                   <form method="post" action="/qwertyuiop/admin/updateUser-eth" class="form-horizontal">
                  
                  <div class="content">
                     
                     <fieldset>
                        <div class="form-group">
                           <label class="col-sm-2 control-label">Amount</label>
                           <input type="hidden" value="{{users._id}}" name="uid" class="form-control">
                           <div class="col-sm-10"> <input type="text" name="amount" class="form-control"> </div>
                        </div>
                     </fieldset>
       
                     <fieldset>
                        <div class="text-center"> <button type="submit" class="btn btn-rose btn-fill btn-wd">Confirm</button> </div>
                     </fieldset>
                  </div>
               </form>
               </div>
            </div>
         </div>
      </div>

      <div class="row">
        <table id="datatables_customer" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
            <thead>
               <tr>
                  <th>Date</th>
                  <th>Account ID</th>
                  <th>Balance</th>
                  
                  
               </tr>
            </thead>
            <tbody>
               {{#each results}} 
               <tr>
                  <td>{{formatDate this.signupDate "MM/DD/YYYY LT"}} </td>
                
                  <td><a href="/qwertyuiop/admin/history-buysell/{{this.account_id}}">{{this.account_id}}</a></td>
                  
                  <td>{{satoshi this.balance}}</td>
                  
                  
               </tr>
               {{/each}} 
            </tbody>
         </table>
      </div>
      
      <section class="transfer">
               <div class="">
                  <div class="card">
                     <div class="card-header"><i class="fa fa-exchange m-r-5"></i> Member  list</div>
                     <div class="card-body">
                        <div class="table-responsive">
                           <table id="login_historys" class="table table-resposive table-hover table-striped">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Activated Date</th>
                                    <th>Floor</th>
                                    <th>Amount Betting</th>
                                    <th class="text-right">System Deposit</th>
                                    <th class="text-right">Direct Member</th>
                                    
                                 </tr>
                              </thead>
                              
                              <tbody>
                                 {{#each child}}
                                    
                                    <tr>
                                       <td>{{math1 @index}}</td>
                                       <td>{{this.email}}</td>
                                       <td>{{prettifyDate this.signupDate}}</td>
                                       <td>{{this.floor}} </td>
                                       <td>{{satoshi this.betting}} </td>
                                       <td class="text-right">{{satoshi this.deposit_node}} </td>
                                       <td class="text-right">{{this.count_f1}} </td>
                                    </tr>
                                    
                                 {{/each}}
                              </tbody>
                           </table>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </section>
      
   </div>
</div>