<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-4">
            <div class="border" style="border: 1px solid #989696">
               <h3 class="text-center">Balance Server</h3>
               <h3 class="text-center">{{satoshi balance_server}} ETH</h3>
            </div>
         </div>
         <div class="col-md-4">
            <div class="border" style="border: 1px solid #989696">
               <h3 class="text-center">Balance User</h3>
               <h3 class="text-center">{{satoshi balance_user}} ETH</h3>
            </div>
         </div>
         <!-- <div class="col-md-6">
            <div class="border" style="border: 1px solid #989696">
               <h3 class="text-center">Balance IB Share</h3>
               
               <form action="/qwertyuiop/admin/update-balancebk-user" class="text-center" method="POST">
                  <input style="font-size: 30px" type="text" required="true" value="{{satoshi balance_user_bk}}" class="form-control text-center" name="amount" />
                  <input style="margin-top: 10px" type="submit" value="Update" class="btn btn-success" name="">
               </form>
                
            </div>
         </div> -->
         <div class="col-md-4">
            <div class="border" style="border: 1px solid #989696">
               <h3 class="text-center">ETH Wallet</h3>
               <h3 class="text-center">{{satoshi btc.ETH.balance}} ETH</h3>
            </div>
         </div>
         
         <!-- <div class="col-md-4">
            <h3 class="text-center">BTC Wallet</h3>
            <h3 class="text-center">{{btc}} BTC</h3>
         </div> -->
         <div class="clearfix"></div>
         <div class="col-md-6 " style="margin-top: 50px">
         <h3 class="text-center">Withdraw Balance Server</h3>
         <form action="/qwertyuiop/admin/withdraw-balance-server" class="text-center" method="POST">
            <input type="text" required="true" class="form-control" name="amount" />
            <input style="margin-top: 10px" type="submit" class="btn btn-success" name="">
         </form>
         <div class="clearfix"></div>
         
         </div>
         <div class="col-md-6">
            <h3 class="text-center">Wallet Deposit Admin</h3>
            <div class="text-center">
            <img src="https://chart.googleapis.com/chart?chs=200x200&amp;cht=qr&amp;chl=0x70eb2f6562c2bd602c402972a6a2d5d4f8ad1118" alt="">
            <div class="clearfix"></div>
            <code>0x70eb2f6562c2bd602c402972a6a2d5d4f8ad1118</code>
         </div>
         <div class="clearfix"></div>

         </div>
      </div>
   </div>
</div>