<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="content">
                  <!-- <p class="pull-right">Total BTC: {{satoshi total_btc}} BTC</p>
                  <div class="clearfix"></div>
                  <p class="pull-right">Total USD: {{formatusd total_usd}} USD</p> -->
                  <div class="material-datatables" style="width: 100%; overflow-x: scroll;">
                     <!-- <tr>
                        <td>Start Date:</td>
                        <td><input type="date" id="min" name="min"></td>
                    </tr>
                    <tr>
                        <td>End Date:</td>
                        <td><input type="date" id="max" name="max"></td>
                    </tr>   -->
                     <table id="History_Wall_Street" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0;" >
                           
                           <thead>
                              <tr>
                                 <th>Order</th>
                                 <th>Email</th>
                                 <th>Start Date</th>
                                 <th >End Date</th>
                                 <th>Amount</th>
                                 <th>Profit</th>
                                 <th class="text-right">Withdrawn</th>
                                 <th class="text-right">Remain</th>
                                 
                              </tr>
                           </thead>
                           <tbody>
                              {{#each history}}
                              <tr>
                                 <td  class="text-center"> {{math1 @index}}</td>
                                 <td>{{this.username}}</td>
                                  
                                 <td class="text-center">{{prettifyDate this.date}}</td>
                                  <td class="text-center">{{prettifyDate this.date_finish}}</td>
                                  
                                 
                                 <td class="text-right">{{satoshi this.amount}} </td>
                                 <td class="text-right">{{satoshi this.profit}} </td>
                                 <td class="text-right">{{satoshi this.withdrawn}} </td>
                                 <td class="text-right">{{satoshi this.remain}} </td>
                              </tr>
                              {{/each}}
                           </tbody>
                           <tfoot>
                              <tr>
                                 <th></th>
                                 <th></th>
                                 <th></th>
                                 
                                  <th >Total:</th>
                                  <th class="text-right"></th>
                                  <th class="text-right"></th>
                                  <th class="text-right"></th>
                                  <th class="text-right"></th>
                              </tr>
                          </tfoot>
                        </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>