<div class="content">
   <div class="container-fluid">
      
      <div class="clearfix"></div>
      <div class="row">
         
         <div class="col-md-12">
            <div class="card">
               
               <div class="content">
                  <p class="pull-right">Total ETH: {{satoshi total_btc}} ETH</p>
                  <div class="clearfix"></div>
                  
                  <div class="material-datatables" style="width: 100%; overflow-x: scroll;">
                     <table id="datatables_withdraw" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
                        <thead>
                           <tr>
                              <th>Username</th>
                              <th>Date</th>
                              <th>Amount ETH</th>
                              
                              <th>Wallet</th>
                              <th>Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {{#each history}} 
                           <tr>
                              <td>{{this.username}}</td>
                              <td>{{formatDate this.date "MM/DD/YYYY LT"}} </td>
                              <td >{{satoshi this.amount}}</td>
                              
                              <td>{{this.wallet}}</td>
                              <td>
                                 <a href="/qwertyuiop/admin/withdraw/payment/{{this._id}}"><button type="button" class="btn btn-success" >Payment</button></a>
                                 <a href="/qwertyuiop/admin/withdraw/remove/{{this._id}}"><button type="button" class="btn btn-danger" >Remove</button></a>
                              </td>
                              
                           </tr>
                           {{/each}} 
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>