<section class="account-list" style="margin-top: 30px;">
   <div class="">
      <div class="box">
         <div class="box-body">
            
            <section class="transfer">
               <div class="">
                  <div class="card">
                     <div class="card-header"><i class="fa fa-exchange m-r-5"></i> Member F1</div>
                     <div class="card-body">
                        <div class="table-responsive">
                           <table id="login_historys" class="table table-resposive table-hover table-striped">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Activated Date</th>
                                    <th>Amount Betting</th>
                                    <th class="text-right">Balance</th>
                                    
                                 </tr>
                              </thead>
                              
                              <tbody>
                                 {{#each child}}
                                    
                                    <tr>
                                       <td>{{math1 @index}}</td>
                                       <td>{{this.email}}</td>
                                       <td>{{prettifyDate this.signupDate}}</td>
                                       <td>{{satoshi this.betting}} </td>
                                       <td class="text-right">{{satoshi this.balance}} </td>
                                    </tr>
                                    
                                 {{/each}}
                              </tbody>
                           </table>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</section>
 