<section class="account-list" style="margin-top: 30px;">
   <div class="">
      <div class="box">
         <div class="box-body">
            <section class="dash-widgets">
               <div class="">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="card">
                           <div class="card-header"><i class="fa fa-user"></i> Wallet Balance </div>
                           <div class="dashboard-block table-responsive">
                              <table class="table table-hover">
                                 <tbody>
                                    <tr>
                                       <td class="middle">Wallet Balance</td>
                                       <td class="text-right middle">
                                          <a href="#" style="color: red; font-size: 20px;">{{satoshi  user.balance}} ETH</a>
                                       </td>
                                    </tr>
                                    
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4">
                        <div class="card">
                           <div class="card-header"><i class="fa fa-user"></i> Pending Commission </div>
                           <div class="dashboard-block table-responsive">
                              <table class="table table-hover">
                                 <tbody>
                                    <tr>
                                       <td class="middle">Pending Commission</td>
                                       <td class="text-right middle">
                                          <a href="#" style="color: limegreen;font-size: 20px; ">{{satoshi  user.balance_commision}} ETH</a>
                                       </td>
                                    </tr>
                                    
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-4">
                        <div class="card">
                           <div class="card-header"><i class="fa fa-user"></i> Trading Amount </div>
                           <div class="dashboard-block table-responsive">
                              <table class="table table-hover">
                                 <tbody>
                                    <tr>
                                       <td class="middle">Trading Amount</td>
                                       <td class="text-right middle">
                                          <a href="#" style="font-size: 20px;">{{satoshi  user.betting}} ETH</a>
                                       </td>
                                    </tr>
                                    
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>


                     
                 
                     

                     
                     
                     
                     <div class="col-md-12 col-sm-12">
                        <div class="card" style=" padding-bottom: 18px; ">
                           <div class="col-md-6">
                              <div class="card-header"><i class="fa fa-user"></i> Leader <i class="fa fa-star"></i></div>
                              <div class="dashboard-block table-responsive">
                                 <table class="table table-hover">
                                    <tbody>
                                       <tr>
                                          <td>
                                             System Deposit:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">{{satoshi  user.deposit_node}} ETH</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             Percent:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">1.5%</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             Commission:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;" >{{satoshi  amount_commission_1}} ETH</div>
                                          </td>
                                       </tr>
                                       
                                       
                                  
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           
                           <div class="col-md-6">
                              <div class="card-header"><i class="fa fa-user"></i> Leader <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                              <div class="dashboard-block table-responsive">
                                 <table class="table table-hover">
                                    <tbody>
                                       <tr>
                                          <td>
                                             System Deposit:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">{{satoshi  user.deposit_node}} ETH</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             Percent:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">1.0%</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             Commission:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">{{satoshi  amount_commission_2}} ETH</div>
                                          </td>
                                       </tr>
                                       
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                          
                     
                           <div class="col-md-6">
                              <div class="card-header"><i class="fa fa-user"></i> Leader <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                              <div class="dashboard-block table-responsive">
                                 <table class="table table-hover">
                                    <tbody>
                                       <tr>
                                          <td>
                                             System Deposit:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">{{satoshi  user.deposit_node}} ETH</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             Percent:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">0.5%</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             Commission
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">{{satoshi  amount_commission_3}} ETH</div>
                                          </td>
                                       </tr>
                                       
                                       
                                  
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           
                     
                           <div class="col-md-6">
                              <div class="card-header"><i class="fa fa-user"></i> Leader <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                              <div class="dashboard-block table-responsive">
                                 <table class="table table-hover">
                                    <tbody>
                                       <tr>
                                          <td>
                                             System Deposit:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">{{satoshi  user.deposit_node}} ETH</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             Percent:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;">2%</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td>
                                             Commission:
                                          </td>
                                          <td class="text-right">
                                             <div  style="color:blue;" id="">{{satoshi  amount_commission_4}} ETH</div>
                                          </td>
                                       </tr>
                                       
                                       
                                  
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                          
                        
                     <div class="col-md-12">

            <div class="card" style=" padding-bottom: 18px; ">
                           <div class="card-header"><i class="icon icon-ts m-r-5"></i> Reference Link</div>
            
           
            <div class="dashboard-block">

                  <div class="refLink_div">
                    <input type="text"  id="refLink" value="..." name="">

                    <button type="button" onclick="copyToClipboard()" value="Copy" class="btn btn-info" id="btn-copy" data-dismiss="modal">Copy</button>
                  </div>
                    <br />
                    
                    <div class="clearfix"></div>
            </div>

              
            <a href="/account/useraccount" class="btn btn-success">Add Live Account</a>
            <a href="/account/useraccount" class="btn btn-warning">Add Trial Account</a>
<a class="btn btn-primary" href="/account/useraccount">Upline Transfer</a>            <div class="clearfix"></div>
            <style>
                a.btn {
                    width: 150px;
                    margin: 3px;
                }
            </style>
    </div>
 </div>
                  </div>

                  

            </section>
            <section class="bank p-t-40">
               <div class="">
                  <div class="card">
                     <div class="card-header"><i class="fa fa-exchange m-r-5"></i> History Commision</div>
                     <div class="card-body">
                       
                        <div class="table-responsive">
                           <table id="login_historys" class="table table-hover table-bordered table-striped m-b-0">
                              <thead>
                                 <tr class="info">
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Type</th>
                                    <th>Detail</th>
                                 </tr>
                              <thead>
                              <tbody>
                                {{#each commision_history}}
                                    <tr>
                                       <td class="text-center">{{math1 @index}}</td>
                                       <td>{{prettifyDate this.date}}</td>
                                       <td>{{satoshi this.amount}} </td>
                                       <td class="text-center">
                                          {{#if_eq this.status 'Pending'}}
                                            <span style="color: red">Pending</span>
                                          {{/if_eq}}
                                          {{#if_eq this.status 'Finish'}}
                                            <span style="color: #2196F3">Finish</span>
                                          {{/if_eq}}
                                       </td>
                                       <td>{{this.type}} </td>
                                       <td>{{this.detai}} </td>
                                      
                                    </tr>
                                    
                                 {{/each}}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</section>