<div id="exchange_option" >
<div class="header_exchange" >
   <div class="col-md-2 text-center">
      <a href="/account/dashboard">
         <img src="/img/logo-right.png" style="margin-top: -5px;" width="110" alt="logo" class="img-responsive logos">  
      </a>
   </div>
   <div class="col-md-2 text-center hidden-xs hidden-sm">
     
   </div>
   <div class="col-md-4 col-xs-12 text-center ">
      <a  href="/exchange/account" class="btn header-btn">
      <i  class="glyphicon glyphicon-arrow-left"></i>
      </a>
      <a href="/account/dashboard" class="btn header-btn">
      <i class="glyphicon glyphicon-home"></i>
      </a>
      <a href="/logout" class="btn header-btn">
      <i class="fa fa-power-off"></i>
      </a>
   </div>
   <div class="col-md-2 col-xs-6 text-center">
      <div class="CtrBalanceUser" ng-controller="CtrBalanceUser">
         <div  >
            <h4 class="text-center">
               <img src="/img/balance.png" class="hidden-xs" width="30"> <span class="balance">{[{ balance | formatsatoshi}]} ETH</span>
            </h4>
         </div>
      </div>
   </div>
   <div class="col-md-2 col-xs-6 text-right right_header_top ">
   <i class="far fa-moon"></i>


   <span class="light_night"><img src="/img/sun.svg"></span>
      <b class="account-number">
      {{partner.account_id}} - {{#if_eq partner.type '0'}}Real{{else}}Demo{{/if_eq}}
      </b>
      
   </div>
</div>
<section class="account-list History_BuySell_Account_ID" style="margin-top: 30px;">
   <div class="">
      <div class="box">

         <div class="box-body">
            <section class="transfer">
               <div class="">
                  <div class="card">
                     <div class="card-header"><i class="fa fa-exchange m-r-5"></i> History Trading</div>
                     <div class="card-body">
                        <div class="material-datatables">
                           <tr>
                              <td>Start Date:</td>
                              <td><input type="date" id="min" name="min"></td>
                          </tr>
                          <tr>
                              <td>End Date:</td>
                              <td><input type="date" id="max" name="max"></td>
                          </tr>  
                          <div class="clearfix" style="margin-top: 10px"></div>
                          <div class="table-responsive">
                           <table id="History_BuySell_Account_ID" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0;" >
                           
                           <thead>
                              <tr>
                                 <th>Order</th>
                                 <th>Time</th>
                                 <th>Type</th>
                                 <th>Symbol</th>
                                 <th class="text-right">Amount</th>
                                 
                                 <th class="text-right">Profit</th>
                                 
                              </tr>
                           </thead>
                           <tbody>
                              {{#each result}}
                              <tr>
                                 <td  class="text-center"> {{math1 @index}}</td>
                                 <td class="text-center">{{prettifyDate this.date}}</td>
                                 
                                  <td class="text-center" >
                                    {{#if_eq this.buysell 'Buy'}}
                                      <span style="color: #2196F3">Buy</span>
                                    {{/if_eq}}
                                    {{#if_eq this.buysell 'Sell'}}
                                      <span style="color: red">Sell</span>
                                    {{/if_eq}}
                                    {{#if_eq this.buysell 'Deposit'}}
                                      <span style="color: #2196F3">Deposit</span>
                                    {{/if_eq}}
                                    {{#if_eq this.buysell 'Withdraw'}}
                                      <span style="color: red">Withdraw</span>
                                    {{/if_eq}}
                                  </td>
                                 
                                 <td class="text-center">{{this.symbol}}</td>
                                 <td class="text-right">{{satoshi this.amount}} </td>
                                 {{#if_eq this.type 'win'}}
                                    <td class="text-right" style="color: #2196F3">{{satoshi this.detai}}</td>
                                 {{/if_eq}}
                                 {{#if_eq this.type 'lose'}}
                                    <td class="text-right" style="color: red">-{{satoshi this.detai}}</td>
                                 {{/if_eq}}
                                 {{#if_eq this.type 'deposit'}}
                                    <td class="text-right" style="color: #2196F3">{{satoshi this.detai}}</td>
                                 {{/if_eq}}
                                 {{#if_eq this.type 'withdraw'}}
                                    <td class="text-right" style="color: red">-{{satoshi this.detai}}</td>
                                 {{/if_eq}}
                              </tr>
                              {{/each}}
                           </tbody>
                           <tfoot>
                              <tr>
                                 <th></th>
                                 <th></th>
                                 <th></th>
                                  <th >Total:</th>
                                  
                                  <th class="text-right"></th>
                                  <th class="text-right"></th>
                              </tr>
                          </tfoot>
                        </table>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>


            <section class="transfer History_BuySell_Account_IDS">
               <div class="">
                  <div class="card">
                     <div class="card-header"><i class="fa fa-exchange m-r-5"></i> History Deposit/Withdraw </div>
                     <div class="card-body">
                        <div class="material-datatables">
                          
                          <div class="clearfix" style="margin-top: 10px"></div>
                          <div class="table-responsive">
                          <div class="table-responsive">
                           <table id="History_BuySell_Account_IDS" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0;" >
                           
                           <thead>
                              <tr>
                                 <th>Order</th>
                                 <th>Time</th>
                                 <th>Deposit</th>
                                 
                                 <th >Withdraw</th>
                                 
                              </tr>
                           </thead>
                           <tbody>
                              {{#each results}}
                              <tr>
                                 <td  class="text-center"> {{math1 @index}}</td>
                                 <td class="text-center">{{prettifyDate this.date}}</td>
                                 
                                  <td class="text-center" >
                                    
                                    {{#if_eq this.buysell 'Deposit'}}
                                      {{satoshi this.amount}}
                                    {{/if_eq}}
                                    {{#if_eq this.buysell 'Withdraw'}}
                                      0
                                    {{/if_eq}}
                                    
                                  </td>
                                  <td class="text-center" >
                                    
                                    {{#if_eq this.buysell 'Deposit'}}
                                      0
                                    {{/if_eq}}
                                    {{#if_eq this.buysell 'Withdraw'}}
                                      {{satoshi this.amount}}
                                    {{/if_eq}}
                                  </td>
                                 
                                 
                                 
                              </tr>
                              {{/each}}
                           </tbody>
                           <tfoot>
                              <tr>
                                 <th></th>
                                 
                                  <th class="text-right">Total:</th>
                                  
                                  <th class="text-center"></th>
                                  <th class="text-center"></th>
                              </tr>
                          </tfoot>
                        </table>
                        </div>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</section>
<script type="text/javascript">

</script>
