<div class="" id="manage-body">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="list-group " id="sidebar">
               
               <a class="list-group-item " href="#Infomation" data-toggle="pill">
                    Infomation
                </a>
                <a class="list-group-item " href="#tab_a" data-toggle="pill">
                    Authenticator
                </a>
                <a href="#tab_c" data-toggle="pill" class="list-group-item">
                    Change Password
                </a>
                <a href="#tab_d" data-toggle="pill" class="list-group-item">
                    Login History
                </a>
                <a href="#tab_e" data-toggle="pill" class="list-group-item">
                    Enhanced Vertification
                </a>
            </div>
        </div>
        <div class="col-md-9 col-xs-12" id="parentSection">
            <div class="tab-content">
                <div class="tab-pane active" id="Infomation">
                    
                    <form id="formManageSummary" class="form-horizontal" style="margin-bottom: 24px;" data-bind="visible: !isLoading()">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-header" >Account Information</h2>
            </div>
        </div>

        <div class="row" style="margin: 20px 0">
            <div class="col-lg-6 col-md-12">
                <h2 class="identity-name">User Name</h2>
            </div>
            <div class="col-lg-6 col-md-12">
                <h2 class="identity-name"><small data-bind="text: email" style="margin-left:0px">{{ user.email}}</small></h2>
            </div>
    </form>
              </div>
                </div>
               <div class="tab-pane " id="tab_a" >
                  {{#if_eq user.security.two_factor_auth.status '0'}}
                  <h3>Enlable Google Authenticator</h3>
                  <ol style="padding-left:17px;margin-top: 20px;">
                     <li>Install an authenticator app on your mobile device.</li>
                     <li>Open the Google Authenticator app.</li>
                     <li>Tab menu, then tab "Set up Account", then "Scan a barcode" or "Enter key provided" is<strong style="word-break:break-all;">{{user.security.two_factor_auth.code}}</strong>.</li>
                     <li>Your phone will now be in "scanning" mode. When you are in this mode, scan the barcode below:</li>
                     <li>Do not share it with anyone. Be aware of phishing scams. We will never ask you for this key</li>
                  </ol>
                  <div class="mt-4 text-center"><img src="{{qr_code_authy}}" width="180"></div>
                  <p style="font-size: 12px; margin-top: 20px;margin-bottom: 20px">Once you have scanned the barcode, enter the 6-digit code below:</p>
                  <div class="form-group text-center">
                     <label class="text-center">Input code from application:</label>
                     <div class="alert alert alert-danger alert-dismissable_f2a" style="display: none;"><a class="close" data-dismiss="alert">×</a><span class="message"></span></div>
                     <input name="GACode" id="account_frm_GACode" style="border : 1px solid #eee" value="" size="20" class="form-control text-center" type="text">
                  </div>
                  <div class="text-center" ><button style="margin-top: 20px;" type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Function" id="btn_frm_GACode">Activate</button></div>
                  {{/if_eq}} {{#if_eq user.security.two_factor_auth.status '1'}}
                  <h3>Disable Google Authenticator</h3>
                  <p style="margin-top: 20px;">Enter the 6-digit code below:</p>
                  <div class="form-group text-center">
                     <label class="text-center">Input code from application:</label>
                     <div class="alert alert alert-danger alert-dismissable_f2a" style="display: none;"><a class="close" data-dismiss="alert">×</a><span class="message"></span></div>
                     <input name="GACode" style="border : 1px solid #eee" id="account_frm_GACode" value="" size="20" class="form-control text-center" type="text">
                  </div>
                  <div class="text-center"><button type="submit" class="btn btn-danger" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Function" id="btn_frm_GACode">Disable</button></div>
                  {{/if_eq}}
                  <div class="clearfix"></div>
               </div>
               <div class="tab-pane" id="tab_c">
                  <h3>Change Password</h3>
                  <form id="frmChangePassword" action="#" method="" style="margin-top: 20px;">
                     <div class="">


                        <div class="form-group label-floating"><label class="control-label"> Old Password<small>*</small></label><input class="form-control" name="oldpassword" id="oldPassword" type="password" required="true"></div>
                        <div class="form-group label-floating"><label class="control-label"> New Password<small>*</small></label><input class="form-control" name="newPassword" id="newPassword" type="password" required="true"></div>
                        <div class="form-group label-floating"><label class="control-label"> Confirm New Password<small>*</small></label><input class="form-control" name="cfpassword" id="cfpassword" type="password" required="true" equalto="#registerPassword"></div>
                        <div class="alert alert alert-danger alert-dismissable_pw" style="display: none;"><a class="close" data-dismiss="alert">×</a><span class="message"></span></div>
                        <div class="text-center"><button style="margin-top: 20px;" type="submit" class="btn btn-primary center-block btn-exchnage" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Function" >Save Changes</button></div>
                     </div>
                  </form>
               </div>
               <div class="tab-pane" id="tab_d">
                  <h3>Login History</h3>
                  <div class="material-datatables" style="margin-top: 20px;">
                     <table id="login_history" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0" >
                        <thead>
                           <tr>
                              <th>Date</th>
                              <th class="table-address">IP</th>
                              <th>User agent</th>
                           </tr>
                        </thead>
                        <tbody>
                           {{#each user.security.login_history}}
                           <tr>
                              <td>{{prettifyDate this.date}}</td>
                              <td>{{this.ip}}<br>{{this.country_name}}</td>
                              <td>{{this.user_agent}}</td>
                           </tr>
                           {{/each}}
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="tab-pane" id="tab_e">
                <h2 class="" style="margin-bottom: 30px">Account Vertification</h2>
                <form id="personalForm" method="post" novalidate>
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="form-group"> <label for="firstname" class="control-label">First name</label> <input type="text" name="firstname" id="firstname" value="{{user.personal_info.lastname}}" class="form-control" data-rule-minlength="2" required data-validation-required-message="Please enter your first name."> </div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group"> <label for="lastname" class="control-label">Last name</label> <input type="text" name="lastname" id="lastname" value="{{user.personal_info.lastname}}" class="form-control" data-rule-minlength="2" required=""> </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="form-group">
                             <label for="gender" class="control-label">Gender</label> 
                             <div class="select"> <select class="form-control" name="gender" id="gender"> <option value="male"{{#if_eq user.personal_info.gender 'male'}} selected=""{{/if_eq}} >Male</option> <option value="female" {{#if_eq user.personal_info.gender 'female'}} selected=""{{/if_eq}}>Female</option> </select> </div>
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <div class="form-group">
                             <label for="gender" class="control-label">Date of Birth</label> 
                             <div class="input-group registration-date-time" style=" margin-bottom: 0; "> <span class="input-group-addon" id="basic-addon1"><span class="ti-time"></span></span> <input class="form-control" name="birthday" value="{{user.personal_info.birthday}}" id="birthday" type="date" > </div>
                          </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="form-group"> <label for="phone_number" class="control-label">Phone Number</label> <input type="text" name="phone_number" id="phone_number" value="{{user.personal_info.telephone}}" class="form-control" data-rule-minlength="2" required=""> </div>
                       </div>
                    </div>
                    <div class="form-group"> <label for="address" class="control-label">Address</label> <input type="text" name="address" id="address" class="form-control" value="{{user.personal_info.address}}" data-rule-minlength="2" required=""> </div>
                    <div class="form-group"> <label for="city" class="control-label">City</label> <input type="text" name="city" id="city" class="form-control" value="{{user.personal_info.city}}" data-rule-minlength="2" required=""> </div>
                    <div class="form-group">
                       <label for="city" class="control-label">Country</label> 
                       <div class="select"> <select class="form-control" name="country" id="country"> {{#each country}} <option value="{{this.country}}"  {{#if_eq user.personal_info.country this.country }} selected=""{{/if_eq}}>{{this.country}}</option> {{/each}} </select> </div>
                    </div>

                    


                    <div class="alert alert-danger alert-dismissable_infomation" style="display: none;">
                    </div>

                    <div style="margin-top: 20px;" class="text-center"> <button type="submit" class="btn btn-primary center-block btn-exchnage" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Function">Save Changes</button> </div>
                 </form>

                 <!-- <div class="row" style="margin-top: 40px;">
                    <div class="col-md-12">
                        <h2>Account verification</h2>
                    </div>
                </div>
 -->
                
                <!-- {{#if_eq user.personal_info.status_doc '0'}}
                 <form  action="/account/setting/upload-doccument" id="personalForm_document" method="POST" enctype="multipart/form-data">
                  
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="form-group"> <label for="phone_number" class="control-label">Your document 1</label> <input type="file" name="document_1" id="document_1" value="" class="form-control" > </div>
                       </div>
                    </div>

                    <div class="row">
                       <div class="col-sm-12">
                          <div class="form-group"> <label for="phone_number" class="control-label">Your document 2</label> <input type="file" name="document_2" id="document_2" value="" class="form-control" > </div>
                       </div>
                    </div>          
                  
                    <div class="alert alert-danger alert-dismissable_infomationss" style="display: none;">
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Upload Document</button>
                    </div>
                  
                        </form>
                  {{/if_eq}}   
                  {{#if_eq user.personal_info.status_doc '1'}}
                    <h3 style="color: #FFC107" class="text-center">Your account is awaiting verification</h3>
                  {{/if_eq}} 
                  {{#if_eq user.personal_info.status_doc '2'}}
                  <div class="row">
                       <div class="col-sm-12">
                          <div class="form-group"> <label for="phone_number" class="control-label">Your document 1</label> 
                          <div class="clearfix"></div>
                          <div class="text-center">
                            <img src="{{user.personal_info.document1}}" />
                          </div>
                           </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-sm-12">
                          <div class="form-group"> <label for="phone_number" class="control-label">Your document 2</label> 
                          <div class="clearfix"></div>
                          <div class="text-center">
                            <img src="{{user.personal_info.document2}}" />
                          </div>
                           </div>
                       </div>
                    </div>
                  {{/if_eq}}  -->

                 
               </div>
            </div>
        </div>
		
        </div>
    </div>
</div>

<div class="clearfix" style="margin-top: 30px"></div>