<div class="content ">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 " style="padding-bottom:15px;">
            <h2 style="font-size: 30px;" class="text-center">Submit a request</h2>
        
      </div>


      <div class="row">
         <div class="col-md-12">
            <div class="card" style="padding: 20px;background: none">
               <div class="col-md-8 col-md-push-2">
                  <form method="post" action="/Support/submit-support" id="frmSupport" autocomplete="off" novalidate="novalidate">
                     <div class="form-group " style="margin-bottom: 15px">
                        <label>Your email address</label>
                        
                        <input type="text" id="email"  class="form-control input-flyp " name="email" placeholder="Subject" required="" autocomplete="off">     
                     </div>
                     <div class="form-group " style="margin-bottom: 15px">
                        <label>Subject</label>
                        
                        <input type="text" id="subject" maxlength="600" class="form-control input-flyp " name="subject" placeholder="Subject" required="" autocomplete="off">
                           
                     </div>

                     <div class="form-group " style="margin-bottom: 15px">
                        <label>Description</label>
                        <textarea class="form-control" style="height: 150px;" name="message" id="message" maxlength="2000" placeholder="Description"></textarea>
                        <p style="font-size: 13px; color: #676666">Please enter the details of your request. A member of our support staff will respond as soon as possible.</p>
                     </div>
                     <div class="form-group " style="margin-bottom: 15px">
                        <label>Santa Exchange Account Email</label>
                        
                        <input type="text" id="account" maxlength="600" class="form-control input-flyp " name="account" placeholder="Santa Exchange Email" required="" autocomplete="off">
                           
                     </div>

                      <div class="form-group text-center" id="capatcha">
                        <div  class="g-recaptcha" data-theme="light" data-sitekey="6LfLx2EUAAAAALEr3R1Mcq3PKkpqnPlq06t6i6Ho"></div>
                     </div>
                     <div class="text-center">
                        <button type="submit" style="margin-top: 30px;width: 220px; color: #fff" class="btn btn-success">Send</button>
                     </div>

                  </form>
                  <div class="clearfix"></div>
               </div>
               <div class="clearfix" style="margin-bottom: 50px;"></div>
            </div>
         </div>
      </div>

      </div>
   </div>
</div>