<section class="account-list wallstreet" style="margin-top: 30px;">
   <div class="">
   <div class="box">
      <div class="box-body">
         <section class="dash-widgets">
            <div class="">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="pull-left">Vip ID</h1>
                     {{#if_eq wallstreet false}}
                     <a href="" data-toggle="modal" data-target="#myModal" style="margin-top: 15px" class="btn btn-success pull-right">
                      <span class="glyphicon glyphicon-plus"></span> Subscribe
                      </a>
                      {{/if_eq}}
                  </div>

                  <div class="clearfix"></div>
                  <div class="col-sm-4">
                    <div class="border-wallstreet">
                      <h3>Balance</h3> 
                     <span class="db-statement">{{satoshi  user.balance}} ETH</span>
                     </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="border-wallstreet">
                      <h3>Vip ID Amount</h3> 
                     <span class="db-statement">{{satoshi  amount_wallstreet}} ETH</span>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="border-wallstreet">
                       <h3>Profit</h3> 
                       <span class="db-statement">{{satoshi  profit_wallstreet}} ETH</span>
                     </div>
                  </div>
                  
                  <div class="clearfix"></div>
                  {{#if_eq wallstreet true}}
                  <div class="col-sm-12" style="margin-top: 50px">
                     
                     <div class="table-responsive">
                        <table class="table-bordered table">
                           <tbody>
                              <tr>
                                 <th>Init Amount</th>
                                 <th>Subscribed Date</th>
                                 <th>End Date</th>
                                 
                                 <th>Profit</th>
                                 <th>Withdrawn</th>
                                 <th>Remain</th>
                                 <th>Action</th>
                              </tr>
                              <tr>
                                 <td class="text-right">
                                    {{ satoshi data_wallstreet.amount }}
                                 </td>
                                 
                                 <td>{{prettifyDate data_wallstreet.date}}</td>
                                 <td>{{prettifyDate data_wallstreet.date_finish}}</td>
                                 <td class="text-right">
                                    {{ satoshi data_wallstreet.profit }}
                                 </td>
                                 <td class="text-right">
                                    {{ satoshi data_wallstreet.withdrawn }}
                                 </td>
                                 <td class="text-right">
                                    {{ satoshi data_wallstreet.remain }}
                                 </td>
                                 <td class="text-center">
                                    <a href="" data-toggle="modal" data-target="#myModalWidthdraw" class="btn btn-success">
                                    <span class="glyphicon glyphicon-send"></span> Fund Out
                                    </a>
                                   
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  {{/if_eq}}
               </div>
         </section>
         {{#if data_history}}
         <section class="bank p-t-40">
               <div class="">
                  <div class="card">
                     <div class="card-header"><i class="fa fa-exchange m-r-5"></i> History</div>
                     <div class="card-body">
                       
                        <div class="table-responsive">
                           <table id="login_historys" class="table table-hover table-bordered table-striped m-b-0">
                              <thead>
                                 <tr class="info">
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    
                                    <th>Detail</th>
                                 </tr>
                              <thead>
                              <tbody>
                                {{#each data_history}}
                                    <tr>
                                       <td class="text-center">{{math1 @index}}</td>
                                       <td>{{prettifyDate this.date}}</td>
                                       <td>{{satoshi this.amount}} </td>
                                       
                                       <td>{{this.detai}} </td>
                                      
                                    </tr>
                                    
                                 {{/each}}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            {{/if}}
         </div>
      </div>
   </div>
</section>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="Modal-label">Vip ID</h4>
               </div>
               <form role="form" class="form-horizontal" id="frmWallStreet" novalidate="novalidate">
                  <div class="modal-body">
                     
                     <div class="form-group">
                        <label class="col-md-12">Amount</label>
                        <div class="col-sm-12">
                           <div class="input-group"><input type="text" placeholder="Amount" class="form-control amount_usd" name="amount" id="amount_wallstreet"><span class="input-group-addon">ETH</span></div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="alert alert-danger alert-dismissable " style="display: none;"></div>
                  </div>
                  <div class="modal-footer"><button type="button" class="btn btn-social btn-fill btn-twitter" data-dismiss="modal">Close</button><button type="button" class="btn btn-social btn-fill btn-twitter btnConfirm btnfrmWallStreet" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing">Subscribe</button></div>
               </form>
            </div>
    </div>
</div>


<div class="modal fade" id="myModalWidthdraw" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="Modal-label">Withdraw Vip ID</h4>
               </div>
               <form role="form" class="form-horizontal" id="frmWallStreetWithdraw" novalidate="novalidate">
                  <div class="modal-body">
                     <h3 class="text-center">Remain: {{ satoshi data_wallstreet.remain }} ETH</h3>
                     <div class="form-group">
                        <label class="col-md-12">Amount</label>
                        <div class="col-sm-12">
                           <div class="input-group"><input type="text" placeholder="Amount" class="form-control amount_usd" name="amount" id="amount_wallstreet_widthdraw"><span class="input-group-addon">ETH</span></div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="alert alert-danger alert-dismissable " style="display: none;"></div>
                  </div>
                  <div class="modal-footer"><button type="button" class="btn btn-social btn-fill btn-twitter" data-dismiss="modal">Close</button><button type="button" class="btn btn-social btn-fill btn-twitter btnConfirm btnfrmWallStreetWithdraw" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing">Withdraw</button></div>
               </form>
            </div>
    </div>
</div>