<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="utf-8">

    <title>Maintenance</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    
</head>

<body style="text-align: center;">
    <img src="../img/Indoor_Comfort_Maintenance_Icon.png">
    <h2>Please come back in 20 minutes. Thank you.</h2>
</body>

</html>
