<div id="Login-page">
<div class="main">
   <div class="container">
      <div class="row row-content">
         
         <div class="col-md-5 hidden-xs hidden-sm text-center" >
            <p class="text-center"> <img src="img/login_bf.png"/> </p>
         </div>
         <div class="col-md-3 hidden-xs hidden-sm"> </div>
         <div class="col-md-4 col-xs-4 col-sm-7 login-page-right ">
            <img src="/img/loading.gif"/>
            <div class="bg-while">

               
                  
               <div class="row" >

                  <h3 class="title-login">Forgot Password</h3>
                  <form id="frmForgot" method="post" novalidate class="m-t-15">
                 
                  <div class="card-layer"></div>
                  <div class="content m-t-15">
                     <div class="text-success" id="success" style="display: none;">A new password has been sent to your mailbox!</div>
                     <div class="text-danger" id="errcapcha" style="display: none;"></div>
                     
                     <div class="form-group label-floating"> <input type="text" name="email" id="email" class="form-control" required data-validation-required-message="Please enter your email" autocomplete="off" placeholder="Your Email Address" /> </div>
                     
                     <div class="text-center">
                        <div id="recaptcha" class="m-b-15"></div>
                     </div>

                     <div class="form-group"> 
                        <button class="btn btn-danger p-0 m-0" type="submit"> SUBMIT </button> 
                     </div>
                     
                  </div>
               </form>
               </div>
               <div class="row frm-login-footer p-t-15"> 
                  <span class="pull-left"> 
                  <a class="fg-pword" href="/login-system.html">Already have account? Login</a> 
                  </span>        
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>





