<section class="typePage">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-md-push-4">
            <div class="typeBlock wow animated slideInLeft">
               <div class="text-center" style="margin-top: 40px;">
                  <img src="/img/logo-right.png" height="50">
               </div>   
               <form class="pageLoginForm" id="frmAuthy" action="/Authy" method="POST" style="margin-top: 30px;">
                     <h2 class="text-center">Authenticator</h2>
                     <input type="text" class="code_authen logInput logPassword" id="authenticator" placeholder="Authenticator" name="authenticator" />
                     
                     <div class="capcha_google">
                        
                     </div>
                     <div class="login-bottom login-bottom1" style="margin-top: 15px;">
                        <div class="submit">
                           <input type="submit" class="formSubmitButton" value="Confirm"/>
                        </div>
                        <div class="clear"></div>
                     </div>
               </div>
               </form>
               
            </div>
         </div>
      </div>
   </div>
</section>