<section class="typePage">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-md-push-8">
            <div class="typeBlock wow animated slideInLeft">
                 
               <form class="pageLoginForm" id="frmLogin" action="/SignIn" method="POST">

               <input type="hidden" name="form_id" value="15229341345895"><input type="hidden" name="form_token" value="0f3197b7ebb98f9d14875b0a76836b39">
                                 <input type=hidden name=a value='do_login'>
               <input type=hidden name=follow value=''>
               <input type=hidden name=follow_id value=''>
                  <h2 class="text-center">Login</h2>
                  <div class="form-group">
                     <input type="text" name=email value='' placeholder="Login" class="logInput" autofocus="autofocus">
                  </div>
                  <div class="form-group">
                     <input type="password" name=password value='' placeholder="Password" class="logInput logPassword">
                  </div>
                  <div class="form-group captBlock">
                     <div class="capcha_google">
                           <div class="g-recaptcha" data-theme="light"  data-sitekey="6LfLx2EUAAAAALEr3R1Mcq3PKkpqnPlq06t6i6Ho" data-callback="onSubmit"></div>
                        </div>
                  </div>
                  <input type="submit" value="ENTER" class="formSubmitButton">
                  <p class="">
                     <a class="text-left" style="float: left;" href="/forgot-password">Forgot your password?</a>
                     <a class="text-right" style="float: right;" href="/signup">Create Account</a>
                  </p>
               </form>
               
            </div>
         </div>
      </div>
   </div>
</section>
